body{

     background-image: url("background.jpg");
     text-align: center;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     display :flex;
     justify-content: center;
 }a{
    width:100px;
    height:20px;
    position:absolute;
    right:650px;
    top:150px;
    font-style: bold;
    font-size: 1.2rem;
    padding:5px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 3px 5px;
    font-family: Arial, serif;
    background-color: antiquewhite;
    
 }

 a:active{
     background-color: #ff7675;
 }
 h1 {
    color: #ff7675;
    font-size: 2.2rem;
    /*font-family: 'Bona Nova', serif;*/
    font-family: "Merriweather", serif;
    text-shadow: 4px 0 #00cec9;
    letter-spacing: 3px;
  }